.contacts {
	width: 100%;
	background: $grey;

}

.contacts__city_container {
	width: $contWidth;
	margin: 0 auto;
	@include flex(column, nowrap, flex-start, center);
	padding-bottom: 4.000000rem;

	h3.contacts__city_header {
		font-family: "Myriad Bold";
		font-size: 1.684211rem;
		line-height: 1.684211rem;
		color: $yellow;
		padding-top: 3.894737rem;
		margin-bottom: 2.263158rem;
		letter-spacing: 0.052632rem;
	}

	.contacts__city_items {
		@include flex(row, nowrap, center, flex-start);
		font-family: "Myriad Reg";
		color: $greyContacts;
		
		.contacts__city_icon {
			width: 2.105263rem;
			height: 3.157895rem;
			background: #3a464c;
			margin-bottom: 1.473684rem;

			svg {
				width: 100%;
				height: 100%;
			}
		}


		.contacts__city_name {
			font-size: 1.263158rem;
			width: auto;
			line-height: 0.9;
			border-bottom: 0.052632rem dashed $greyContacts;
			margin-bottom: 0.684211rem;
		
		}


		.contacts__city_addr {
			font-size: 0.947368rem;
			margin-bottom: 0.315789rem;

		}


		.contacts__city_time {
			font-size: 0.947368rem;
			margin-bottom: 0;

		}

	.border {
		height: 8.736842rem;
		width: 0.052632rem;
		background-color: #3a464c;
		margin: 0 7.368421rem; //change the space between cities 
	}


	div {
		@include flex(column, nowrap, flex-start, center);
		width: 8.421053rem; //approximatly to the width of city name, because it needs a bottom border
		position: relative;

		&.active {
			.contacts__city_icon {

			}

			.contacts__city_name {
				color: $yellow;

			}

			.contacts__city_addr {
				color: $white;
			}

			.contacts__city_time {
				color: $white;
			}
		}

		// &.active {
		// 	&:after {
		// 		content: "";
		// 		position: absolute;
		// 		border: 1.052632rem solid transparent;
		// 		border-bottom: none;
		// 		border-bottom-color: $yellow;
		// 		z-index: 10;
		// 	}
		// }
	}


	}
}


.contacts_map {
	width: 100%;
	height: 20.473684rem;

	img {
		width: 100%;
		height: 100%;
	}
}


footer.contacts__footer {
	width: 100%;
	background: #151515;
	@include flex(column, nowrap, flex-start, center);
	position: relative;
	
	
	.contacts__footer_menu_cont {
		width: $contWidth;
		margin: 0 auto;
		@include flex(row, nowrap, space-between, flex-end);
		border-bottom: 0.052632rem solid $greyFooter;
		color: $greyFooter;
		font-size: 0.736842rem;
		line-height: 0.9;
		margin-bottom: 1.578947rem;
		


		.contacts__footer_menu_logo {
			font-family: "Myriad Bold";
			font-size: 1.368421rem;
			line-height: 0.9;
			padding: 2.105263rem 0.000000rem;
		}


		ul.contacts__footer_menu {
			width: 42.894737rem;
			@include flex(row, nowrap, space-between, flex-end);

			li {
				margin-right: 1.526316rem; //1.684211rem
				padding-bottom: 2.105263rem;

				a {
					color: $greyFooter;
					font-size: 0.789474rem;
				}

				a:hover {
					color: $white;

				}

				&.info__menu_tol {
					margin-left: auto;
				}

				&:last-child {
					margin-right: 0;
				}
			}

			

		}

		
	}

	.contacts__footer_rights {
		width: $contWidth;
		margin: 0 auto;
		font-size: 0.736842rem;
		line-height: 1.5;
		color: $greyFooter; 
		padding-bottom: 2.105263rem;
	}

	.arrow_up {
		width: 2.526316rem;
		height: 2.526316rem;
		background: $yellow;
		border-top-left-radius: 0.421053rem;
		position: absolute;
		top: -2.526316rem;
		right: 0;
		@include flex(row, nowrap, center, center);

		a {
			width: 0;
			border: 0.631579rem solid transparent;
			border-top: none;
			border-bottom-color: $grey;
		}

	}

}
