.price {
	width: 100%;
	background-color: #e5e6e7;
	height: 58.000000rem;
}

.price_container {
	width: $contWidth;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 4.210526rem; //4.210526rem

}


.price__header {
	padding-top: 4.052632rem; //changed 4.210526rem
	margin-bottom: 1.894737rem; //2.526316rem
	font-size: 1.684211rem; //1.684211rem
	color: $grey;
	text-align: center;
	letter-spacing: 0.210526rem; //0.105263rem
}





.price__list {
	width: 100%;
	@include flex(row, wrap, space-between, flex-start);
	margin-bottom: 2.631579rem-1.684211rem; //2.526316rem

	li {
		width: 12.210526rem;
		height: 12.210526rem;
		border-radius: 0.526316rem;
		opacity: 0.89;
		position: relative;
		margin-bottom: 1.684211rem; //changed 1.684211rem
		overflow: hidden;
		@include flex(column, nowrap, center, center);

		&:hover  {
			cursor: pointer;
			
			&:after {
				background-color: $yellow;
			}

			a {
				color: $grey;
			}
			
			svg {
				fill: $grey;
			}	
		}

	
		&:after, &:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}

		&:after {
			z-index: -1;
			background-color: black;
			opacity: 0.7;
		}

	
		&:before {
			z-index: -2;
		}
		
		&.price__list_tech_service:before {
			background: url("../../images/tech-service.jpg") 0 0 no-repeat;
		}

		&.price__list_cooling-system:before {
			background: url("../../images/cooling-system.jpg") 0 0 no-repeat;
		}

		&.price__list_tyres:before {
			background: url("../../images/tyres.jpg") 0 0 no-repeat;
		}

		&.price__list_geometry:before {
			background: url("../../images/geometry.jpg") 0 0 no-repeat;
		}

		&.price__list_steering-wheel:before {
			background: url("../../images/steering-wheel.jpg") 0 0 no-repeat;
		}

		&.price__list_brakers:before {
			background: url("../../images/brakers.jpg") 0 0 no-repeat;
		}

		&.price__list_battery:before {
			background: url("../../images/battery.jpg") 0 0 no-repeat;
		}

		&.price__list_starter:before {
			background: url("../../images/starter.jpg") 0 0 no-repeat;
		}

		&.price__list_optics:before {
			background: url("../../images/optics.jpg") 0 0 no-repeat;
		}

		&.price__list_conditioner:before {
			background: url("../../images/conditioner.jpg") 0 0 no-repeat;
		}

		&.price__list_gear:before {
			background: url("../../images/gear.jpg") 0 0 no-repeat;
		}

		&.price__list_other:before {
			background: url("../../images/other.jpg") 0 0 no-repeat;
		}

		
	}

	




	.item_inner_container {
		width: 2.736842rem;
		height: 6.052632rem;
		@include flex(column, nowrap, space-between, center);


		svg {
			width: 100%;
			margin-bottom: 0.789474rem; //1.263158rem

			fill: $yellow; //#fbca0b
			fill-rule: evenodd;
		}

		a {
			text-align: center;
			font-size: 0.842105rem; //changed 0.842105rem
			color: $yellow;
			line-height: 1.4;
		}

		
	}


	



}


.price__buttons {
	@include flex(column, nowrap, flex-start, center);

	a.price__buttons_enroll {
		font-family: "Myriad Bold";
		display: block;
		padding: 0.842105rem 1.421053rem;
		font-size: 1.263158rem; //changed 1.263158rem;
		color: $grey;
		background-color: $yellow;
		border-radius: 0.421053rem;
		box-shadow: 0.000000rem 0.052632rem 0.105263rem 0.000000rem #f15a24;
		letter-spacing: 0.052632rem;
	}

}