.service {
	width: 100%;
	height: 39.578947rem;
	background: transparent;
	//padding-bottom: 4.210526rem;
}

.service__container {
	width: $contWidth;
	height: 100%;
	margin: 0 auto;
	@include flex(column, nowrap, flex-start, center);
}


.select_input {
	//overflow: hidden;
	position: relative;

	ul {
		position: absolute;
		left: -526.263158rem;
		opacity: 0;
		z-index: 10;
	}
}


.service__header_area {
	@include flex(row, nowrap, flex-start, center);
	padding-top: 3.684211rem; //4.210526rem
	margin-bottom: 2.000000rem;//2.526316rem
	
	
	.service__header {
		font-family: "Myriad Bold";
		font-size: 1.631579rem;
		line-height: 1.631579rem;
		color: $grey;
	}

	input.service__form_city {
		background: transparent;
		border: none;
		color: $yellow;
		margin-left: 0.526316rem;
		width: 10.526316rem;
		 font-family: "Myriad Bold";
		padding: 0;
		font-size: 1.631579rem;
		line-height: 0.000000rem;

		.service__form_city_items {
			top: 2.631579rem;
			opacity: 0;
		}	
	}
}


form.service__form {
	width: 100%;
	@include flex(row, wrap, space-between, flex-start);
	margin-bottom: 1.157895rem; //2.526316rem

	
	


	>div {
		@include flex(column, nowrap, flex-start, flex-start);
		margin-bottom: 1.368421rem;
		
	}

	input[type="text"] {
		width: 16.789474rem;
		height: 2.631579rem;
		border: 0.052632rem solid $greyFormBorder;
		border-radius: 0.526316rem;
		text-indent: 1.052632rem;

		
		&:focus, &:hover {
			outline: none;
			border: 0.052632rem solid $yellow;
			border-radius: 0.526316rem;
			
		}
	}

	
	label {
		font-size: 0.736842rem; //0.736842rem
		line-height: 0.736842rem;
		font-family: "Myriad Reg";
		color: $greyForm;
		margin-bottom: 0.947368rem;
	}

	

	.service__form_proposal {
		width: 100%;
		margin-bottom: 1.789474rem; //1.684211rem

		textarea {
			height: 5.263158rem;
			width: 100%;
			outline: none;
			border: 0.052632rem solid $greyFormBorder;
			border-radius: 0.526316rem;
			padding: 1.052632rem;
			text-indent: 1.052632rem;

			&:focus, &:hover {
				outline: none;
				border: 0.052632rem solid $yellow;
				border-radius: 0.526316rem;
			}
		}
	}


	.service__form_type {
		
		input[type="text"]:focus ul.service__form_type_items {

				left: 0;
				opacity: 1;
			
		}

		ul.service__form_type_items {
	
			top: 2.631579rem;
			opacity: 1;

		}
	
	}

	.service__form_personal {
		@include flex(row, nowrap, flex-start, center); 
		
		input[type="checkbox"] {
			width: 1.684211rem;
			height: 1.684211rem;
			border: none;
			border-radius: 0.421053rem;
			background: $yellow;
		}

		.service__form_personal_inscr {
			margin-left: 1.052632rem;
			font-size: 0.842105rem; //0.736842rem
			line-height: 0.842105rem;
			font-family: "Myriad Reg";
			color: $grey;
		}
	}
	

}





.asterix {
	color: red;
}


.service__buttons {
	button.service__buttons_enroll {
		font-family: "Myriad Bold";
		display: block;
		height: 3.157895rem;
		padding: 0.789474rem 1.368421rem 1.210526rem 1.263158rem;
		font-size: 1.263158rem; //changed 1.263158rem;
		color: $grey;
		background-color: $yellow;
		border-radius: 0.421053rem;
		box-shadow: 0.000000rem 0.052632rem 0.105263rem 0.000000rem #f15a24;
		letter-spacing: 0.052632rem;
		margin: 0;
		border: none;

		&:focus, &:hover {
			outline: none;
				
		}
	}
}




$font: "Myriad Reg";
$style: italic;
$size: 0.842105rem;
$color: #bbbbbb;
$padding: 0.947368rem; 


::-webkit-input-placeholder {
	font-family: $font;
	font-style: $style;
	font-size: $size;
	color: $color;
	text-indent: $padding;

}


::-moz-placeholder {
 	font-family: $font;
	font-style: $style;
	font-size: $size;
	color: $color;
	text-indent: $padding;
 }


::-ms-placeholder {
 	font-family: $font;
	font-style: $style;
	font-size: $size;
	color: $color;
	text-indent: $padding;

}


::placeholder {
	font-family: $font;
	font-style: $style;
	font-size: $size;
	color: $color;
	text-indent: $padding;

}