.why {
	width: 100%;
	height: 40.263158rem;
	background-color: $grey;
}

.why__container {
	width: $contWidth;
	height: 100%;
	margin: 0 auto;
	@include flex(column, nowrap, flex-start, center);
	padding-bottom: 4.210526rem; //4.210526rem
}

.why__header {
	font-family: "Myriad Bold";
	font-size: 1.789474rem; //1.789474rem
	color: $yellow;
	padding-top: 3.894737rem;//4.210526rem
	margin-bottom: 1.894737rem; //2.526316rem

}

.why__img_container {
	width: 100%;
	height: 23.157895rem;
	background: transparent;
	@include flex(column, nowrap, space-between, center);
	margin-bottom: 1.684211rem; //1.684211rem

	.why__img_container_images {
		width: 100%;
		height: 21.052632rem;
		background: transparent;
		overflow:hidden;
		border-radius: 0.526316rem;
		position: relative;


		.why__img_overlayer {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 10;
			@include flex(row, nowrap, space-between, center);	
			
			.why__img_arrow_left {
				width: 4.052632rem;
				height: 17.578947rem;
				border-right: 0.052632rem solid #becada;
				@include flex(row, nowrap, center, center);

				.arrow_left{
					border: 0.631579rem solid transparent;
					border-right-color: $yellow;
					border-left: none;

					&:hover {
						border-right-color: $grey;
				}
				}

				
			}

			.why__img_arrow_right {
				width: 4.052632rem;
				height: 17.578947rem;
				border-left:x solid #becada;
				@include flex(row, nowrap, center, center);

				.arrow_right{
					border: 0.631579rem solid transparent;
					border-left-color: $yellow;
					border-right: none;

					&:hover {
						border-left-color: $grey;
					}
				}
			}


		}

	}

	.why__img_container_buttons {
		@include flex(row, nowrap, flex-start, center);

		a {
			display: block;
			background: transparent;
			height: 0.421053rem;
			width: 0.421053rem;
			border-radius: 50%;
			border: 0.052632rem solid #3a4f55;
			margin-right: 0.526316rem;
		}

		a.active {
			border: none;
			background-color: $yellow;
		}

		a:last-child {
			margin-right: 0;
		}

	}

}


.why__buttons {
	a.why__buttons_enroll {
		font-family: "Myriad Bold";
		display: block;
		height: 3.157895rem;
		padding: 1.052632rem 1.526316rem 1.210526rem 1.526316rem;
		font-size: 1.263158rem; //changed 1.263158rem;
		color: $grey;
		background-color: $yellow;
		border-radius: 0.421053rem;
		box-shadow: 0.000000rem 0.052632rem 0.105263rem 0.000000rem #f15a24;
		letter-spacing: 0.052632rem;
	}
}


a.down_button {
	width: 0;
	border: 0.631579rem solid transparent;
	border-bottom: none;
	border-top-color: $yellow;
	margin-top: auto;
}