$rem: false; //true

//@import "./normalize.css";

@import "./includes/_fonts.scss";
@import "./includes/_mixins.scss";


$rem_font: 19px;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



html, body {
	font-family: "Myriad Reg";
	font-size: $rem_font;
}

@madia screen and (max-width: 1280px) {
	html, body {
		font-size: 1280px/1280px*$rem_font;
	}
}


@madia screen and (max-width: 1200px) {
	html, body {
		font-size: 1200px/1280px*$rem_font;
	}
}


@madia screen and (max-width: 992px) {
	html, body {
		font-size: 992px/1280px*$rem_font;
	}
}


@madia screen and (max-width: 768px) {
	html, body {
		font-size: 768px/1280px*$rem_font;
	}
}


@madia screen and (max-width: 480px) {
	html, body {
		font-size: 480px/1280px*$rem_font;
	}
}


@madia screen and (max-width: 320px) {
	html, body {
		font-size: 320px/1280px*$rem_font;
	}
}


a, a:active, a:visited, a:hover {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.wrapper {
	width: 100%;
	//background: $grey;
}



.container {
	max-width: 1280px;
	margin: 0 auto;
	@include flex(column, nowrap, flex-start, center)

}
	




	@import "./includes/common_info.scss";
	@import "./includes/price.scss";
	@import "./includes/why.scss";
	@import "./includes/service_form.scss";
	@import "./includes/feedback.scss";
	@import "./includes/feedback_form.scss";
	@import "./includes/contacts.scss";



