//@import "./normalize.css";
@import "./includes/_fonts.scss";
@import "./includes/_mixins.scss";


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: "Myriad Reg";
	font-size: 19px;

}

a, a:active, a:visited, a:hover {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.wrapper {
	width: 100%;
}



.container {
	max-width: 1280px;
	
	@include flex(column, nowrap, flex-start, center)

}
	










@import "./includes/common_info.scss";
@import "./includes/price.scss";
@import "./includes/why.scss";
@import "./includes/service_form.scss";
@import "./includes/feedback.scss";
@import "./includes/contacts.scss";
	

	