html, body {
  font-family: "Myriad Reg";
  font-size: 19px; }

@media screen and (max-width: 1280px) {
  html, body {
    font-size: 19px; } }

@media screen and (max-width: 1200px) {
  html, body {
    font-size: 17.8125px; } }

@media screen and (max-width: 992px) {
  html, body {
    font-size: 14.725px; } }

@media screen and (max-width: 768px) {
  html, body {
    font-size: 11.4px; } }

@media screen and (max-width: 480px) {
  html, body {
    font-size: 7.125px; } }

@media screen and (max-width: 320px) {
  html, body {
    font-size: 4.75px; } }
