/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.contacts__city_items .active .contacts__city_icon {
  background-image: url(../images/sprites.png);
  background-position: -330px -58px;
  width: 38px;
  height: 56px;
}
.contacts__city_items .contacts__city_icon {
  background-image: url(../images/sprites.png);
  background-position: -330px -124px;
  width: 38px;
  height: 56px;
}
.contacts__footer_menu_logo {
  background-image: url(../images/sprites.png);
  background-position: 0px -53px;
  width: 144px;
  height: 26px;
}
.contacts__map_nav {
  background-image: url(../images/sprites.png);
  background-position: -290px -155px;
  width: 30px;
  height: 45px;
}
.discounts_2 {
  background-image: url(../images/sprites.png);
  background-position: -388px -66px;
  width: 26px;
  height: 56px;
}
.info__advant_discounts .info_icon {
  background-image: url(../images/sprites.png);
  background-position: -388px 0px;
  width: 26px;
  height: 56px;
}
.info__advant_guarantee .info_icon {
  background-image: url(../images/sprites.png);
  background-position: -62px -89px;
  width: 50px;
  height: 56px;
}
.info__advant_recreation .info_icon {
  background-image: url(../images/sprites.png);
  background-position: 0px -89px;
  width: 52px;
  height: 56px;
}
.info__headers_navigat {
  background-image: url(../images/sprites.png);
  background-position: 0px 0px;
  width: 320px;
  height: 43px;
}
.input_checkbox.checked:after {
  background-image: url(../images/sprites.png);
  background-position: -388px -132px;
  width: 15px;
  height: 10px;
}
.price__list_battery .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -232px -155px;
  width: 48px;
  height: 48px;
}
.price__list_battery:hover .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -254px -89px;
  width: 48px;
  height: 38px;
}
.price__list_brakers .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -58px -213px;
  width: 48px;
  height: 48px;
}
.price__list_brakers:hover .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -330px -190px;
  width: 48px;
  height: 44px;
}
.price__list_conditioner .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -174px -213px;
  width: 48px;
  height: 48px;
}
.price__list_conditioner:hover .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -232px -213px;
  width: 48px;
  height: 48px;
}
.price__list_cooling_system .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: 0px -271px;
  width: 48px;
  height: 48px;
}
.price__list_cooling_system:hover .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: 0px -155px;
  width: 48px;
  height: 48px;
}
.price__list_gear .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -116px -271px;
  width: 48px;
  height: 48px;
}
.price__list_gear:hover .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -174px -271px;
  width: 48px;
  height: 48px;
}
.price__list_geometry .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: 0px -329px;
  width: 38px;
  height: 48px;
}
.price__list_geometry:hover .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -330px -244px;
  width: 38px;
  height: 48px;
}
.price__list_optics .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -330px 0px;
  width: 48px;
  height: 48px;
}
.price__list_optics:hover .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -48px -329px;
  width: 48px;
  height: 34px;
}
.price__list_others .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -232px -271px;
  width: 48px;
  height: 48px;
}
.price__list_others:hover .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -106px -329px;
  width: 48px;
  height: 32px;
}
.price__list_starter .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -58px -271px;
  width: 48px;
  height: 48px;
}
.price__list_starter:hover .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -116px -213px;
  width: 48px;
  height: 48px;
}
.price__list_steering_wheel .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: 0px -213px;
  width: 48px;
  height: 48px;
}
.price__list_steering_wheel:hover .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -174px -155px;
  width: 48px;
  height: 48px;
}
.price__list_tech_service .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -116px -155px;
  width: 48px;
  height: 48px;
}
.price__list_tech_service:hover .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -58px -155px;
  width: 48px;
  height: 48px;
}
.price__list_tyres .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -122px -89px;
  width: 56px;
  height: 48px;
}
.price__list_tyres:hover .item_inner_container .price_icon {
  background-image: url(../images/sprites.png);
  background-position: -188px -89px;
  width: 56px;
  height: 44px;
}
