.info(id="info")
	.info_container
		.header
			ul.info__menu
				li.info__menu_buy
					a(href="#") 
						|В&nbsp;МАГАЗИН
				li.info__menu_price
					a(href="#") 
						|ПРАЙС
				li.info__menu_feed
					a(href="#") 
						|ОСТАВИТЬ&nbsp;ОТЗЫВ
				li.info__menu_cont
					a(href="#") 
						|КОНТАКТЫ
				li.info__menu_tol
					| ТОЛЬЯТТИ&nbsp; 
					a(href="#") (8482)&nbsp;37-95-30
				li.info__menu_sysr
					| СЫЗРАНЬ&nbsp;
					a(href="#") (8464)&nbsp;37-30-60

		h1.info__headers_avtoset СЕТЬ АВТОСЕРВИСОВ
		h2.info__headers_navigat НАВИГАТОР
		h3.info__headers_eurorus ЕВРОПЕЙСКИЙ СЕРВИС ПО ОТЕЧЕСТВЕННОЙ ЦЕНЕ

		.info__advant
			.info__advant_actions
				svg.info__advant_actions-icon
				a(href="#") ВСЕГДА&nbsp;ВЫГОДНЫЕ АКЦИИ
			.info__advant_guarantee
				svg.info__advant_guarantee-icon
				a(href="#") ГАРАНТИЯ&nbsp;НА&nbsp;РАБОТЫ
			.info__advant_comfort
				svg.info__advant_comfort-icon
				a(href="#") КОМФОРТНАЯ ЗОНА&nbsp;ОЖИДАНИЯ

		.info__buttons
			a(href="#").info__buttons_enroll ЗАПИСАТЬСЯ

		
		a(href="#").down_button 