div(id="contacts").contacts
	.contacts__city_container
		h3.contacts__city_header КАК НАС НАЙТИ
		.contacts__city_items
			div(class="contacts__city_tol active")
				.contacts__city_icon
					svg.location_active
						use(xlink:href="#location_active")
					svg.location_passive
						use(xlink:href="#location_passive")
				.contacts__city_name ТОЛЬЯТТИ
				.contacts__city_addr Борковская,&nbsp;65&nbsp;|&nbsp;(8482)&nbsp;37&nbsp;-&nbsp;95&nbsp;-&nbsp;30
				.contacts__city_time 8:00&nbsp;-&nbsp;20:00
			.border
			div(class="contacts__city_sysr")
				.contacts__city_icon
					svg.location_active
						use(xlink:href="#location_active")
					svg.location_passive
						use(xlink:href="#location_passive")
				.contacts__city_name СЫЗРАНЬ
				.contacts__city_addr Опорный,&nbsp;16&nbsp;|&nbsp;(8464)&nbsp;37&nbsp;-&nbsp;30&nbsp;-&nbsp;60
				.contacts__city_time 8:00&nbsp;-&nbsp;20:00
.contacts_map
	img(src="./images/Navigator-STO-map.jpg" alt="карта")

footer.contacts__footer
	.arrow_up
		a(href="#info")
	.contacts__footer_menu_cont
		.contacts__footer_menu_logo НАВИГАТОР
		ul.contacts__footer_menu
			li.info__menu_buy
				a(href="#") В&nbsp;МАГАЗИН
			li.info__menu_price
				a(href="#") ПРАЙС
			li.info__menu_feed
				a(href="#") ОСТАВИТЬ&nbsp;ОТЗЫВ
			li.info__menu_cont
				a(href="#") КОНТАКТЫ
			li.info__menu_tol
				| ТОЛЬЯТТИ&nbsp; 
				a(href="#") (8482)&nbsp;37-95-30
			li.info__menu_sysr
				| СЫЗРАНЬ&nbsp;
				a(href="#") (8464)&nbsp;37-30-60
	.contacts__footer_rights
		| &copy; 2011 - 2016 ООО "Навигатор" Интернет магазин автозапчастей ВАЗ - продажа запчастей оптом и в розницу по всей России. Все права защищены. Копирование контента сайта в любой форме без разрешения владельцев авторских прав запрещено.



