div(id="contacts").contacts
	.contacts__city_container
		h3.contacts__city_header КАК НАС НАЙТИ
		.contacts__city_items
			div(class="contacts__city_tol")
				.contacts__city_icon
					svg
						use(xlink:href="#location")
				.contacts__city_name ТОЛЬЯТТИ
				.contacts__city_addr Борковская,&nbsp;65&nbsp;|&nbsp;(8482)&nbsp;37&#8209;95&#8209;30
				.contacts__city_time 8:00&#8209;20:00
			.border
			div(class="contacts__city_sysr  active")
				.contacts__city_icon
					svg
						use(xlink:href="#location")
				.contacts__city_name СЫЗРАНЬ
				.contacts__city_addr Опорный,&nbsp;16&nbsp;|&nbsp;(8464)&nbsp;37&#8209;30&#8209;60
				.contacts__city_time 8:00&#8209;20:00
div(id="contacts_map").contacts_map
	img(src="./images/Navigator-STO-map.jpg" alt="карта")

footer.contacts__footer
	.arrow_up
		a(href="#info")
	.contacts__footer_menu_cont
		.contacts__footer_menu_logo 
			svg
				use(xlink:href="#Navigator-logo")
		ul.contacts__footer_menu
			li.info__menu_buy
				a(href="#") В&nbsp;МАГАЗИН
			li.info__menu_price
				a(href="#price") ПРАЙС
			li.info__menu_feed
				a(href="#feedback__form") ОСТАВИТЬ&nbsp;ОТЗЫВ
			li.info__menu_cont
				a(href="#contacts") КОНТАКТЫ
			li.info__menu_tol
				.tol ТОЛЬЯТТИ&nbsp;
				a(href="#") (8482)&nbsp;37&#8209;95&#8209;30
			li.info__menu_sysr
				.sysr СЫЗРАНЬ&nbsp;
				a(href="#") (8464)&nbsp;37&#8209;30&#8209;60
	.contacts__footer_rights
		| &copy; 2011 - 2016 ООО "Навигатор" Интернет магазин автозапчастей ВАЗ - продажа запчастей оптом и в розницу по всей России. Все права защищены. Копирование контента сайта в любой форме без разрешения владельцев авторских прав запрещено.

script
	|function initMap() {
	|	var tol = {lat: 53.5303, lng: 49.3461};
	|	var map_elem = document.getElementById('contacts_map');
	|	
	|	var map = new google.maps.Map(map_elem, {
	|		zoom: 12,
	|		center: tol,
	|		mapTypeControl: true,
	|		mapTypeControlOptions: {
	|			style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
	|			position: google.maps.ControlPosition.TOP_CENTER
	|		},
	|		zoomControl: true,
	|		zoomControlOptions: {
	|			position: google.maps.ControlPosition.LEFT_CENTER
	|		},
	|		scaleControl: true,
	|		streetViewControl: true,
	|		streetViewControlOptions: {
	|			position: google.maps.ControlPosition.LEFT_TOP
	|		},
	|		fullscreenControl: true
	|		});
	|	
	|	var svgIcon = document.getElementById("map_nav");
	|	
	|	var passElem = document.createElement("div");
	|		passElem.appendChild(svgIcon);
	|		svgIcon = passElem.innerHTML;
	|		
	|	
	|	console.log(svgIcon);
	|	
	|	var icon = {
	|		url: 'data:image/svg+xml;charset=UTF-8;' + encodeURIComponent(svgIcon)
	|	}
	|	
	|	var marker = new google.maps.Marker({
	|		position: tol,
	|		map: map,
	|		icon: icon
	|	});
	|}

script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClhcdqCxkw4hAQgqo929AMYi0F0RrgHnc&callback=initMap")

