.feedback(id="feedback")
	.feedback__container
		h3.feedback__header 
			| ОТЗЫВЫ ОБ АВТОСЕРВИСАХ "НАВИГАТОР"
		
		.feedback__people_container
			.feedback__people_container_items
				
				.feedback__people_overlayer
					.feedback__people_arrow_left
						a(href="#").arrow_left
					.feedback__people_arrow_right
						a(href="#").arrow_right
				
				div(id="feedback__people_1").feedback__people_container_item
					.feedback__people_container_item_text
						| Сегодня заехал на СТО Навигатор. Замена заднего шруса. Впечатления остались очень хорошие! Вежливый персонал, все чистенько и уютно, приемлемые цены скидки и скидки по карте! Всю работу сделали за 45 минут. Теперь только к Вам.
					.feedback__people_container_item_name
						| Алексей Шумилин	
				div(id="feedback__people_2").feedback__people_container_item
					.feedback__people_container_item_text
						| Сегодня заехал на СТО Навигатор. Замена заднего шруса. Впечатления остались очень хорошие! Вежливый персонал, все чистенько и уютно, приемлемые цены скидки и скидки по карте! Всю работу сделали за 45 минут. Теперь только к Вам.
					.feedback__people_container_item_name
						| Алексей Шумилин
				div(id="feedback__people_3").feedback__people_container_item
					.feedback__people_container_item_text
						| Сегодня заехал на СТО Навигатор. Замена заднего шруса. Впечатления остались очень хорошие! Вежливый персонал, все чистенько и уютно, приемлемые цены скидки и скидки по карте! Всю работу сделали за 45 минут. Теперь только к Вам.
					.feedback__people_container_item_name
						| Алексей Шумилин
				
				
			.feedback__people_container_buttons 
				a(href="").active
				a(href="")
				a(href="")
				a(href="")
				a(href="")
				a(href="")


