div(id="feedback").feedback
	.feedback__container
		h3.feedback__header 
			| ОТЗЫВЫ ОБ АВТОСЕРВИСАХ &#171;НАВИГАТОР&#187;
		
		.feedback__img_container
			.feedback__img_container_items
				
				.feedback__img_overlayer
					.feedback__img_arrow_left
						a(href="#feedback").arrow_left
					.feedback__img_arrow_right
						a(href="#feedback").arrow_right
				
				.img_wrapper
					.feedback__img_container_item_text
						| Сегодня заехал на СТО Навигатор. Замена заднего шруса. Впечатления остались очень хорошие! Вежливый персонал, все чистенько и уютно, приемлемые цены скидки и скидки по карте! Всю работу сделали за 45 минут. Теперь только к Вам.
					.feedback__img_container_item_name
						| Алексей Шумилин	
				.img_wrapper
					.feedback__img_container_item_text
						| Сегодня заехал на СТО Навигатор. Замена заднего шруса. Впечатления остались очень хорошие! Вежливый персонал, все чистенько и уютно, приемлемые цены скидки и скидки по карте! Всю работу сделали за 45 минут. Теперь только к Вам.
					.feedback__img_container_item_name
						| Алексей Шумилин
				.img_wrapper
					.feedback__img_container_item_text
						| Сегодня заехал на СТО Навигатор. Замена заднего шруса. Впечатления остались очень хорошие! Вежливый персонал, все чистенько и уютно, приемлемые цены скидки и скидки по карте! Всю работу сделали за 45 минут. Теперь только к Вам.
					.feedback__img_container_item_name
						| Алексей Шумилин
				
				
			.feedback__img_container_buttons 
				


