div(id="feedback__form").feedback__form
	.feedback__form_container
		
		h3.feedback__form_header НАМ ВАЖЕН ВАШ ОТЗЫВ
		
		form(name="feedback__form" id="feedback__form" action="#" method="post").feedback__form
			
			.feedback__form_name
				label(for="feedback__form_name") Представьтесь пожалуйста <span class="asterix">*</span> 
				input(id="feedback__form_name" type="text" placeholder="Иванов Иван" required)

			.feedback__form_phone
				label(for="feedback__form_phone") Телефон <span class="asterix">*</span> 
				input(id="feedback__form_phone" type="text" placeholder="+7 999 666 99 66" required)

			.feedback__form_email
				label(for="feedback__form_email") E-mail <span class="asterix">*</span>
				input(id="feedback__form_email" type="text" placeholder="example@mail.ru" required)

			.feedback__form_date
				label(for="feedback__form_date") Дата и время обращения к нам <span class="asterix">*</span> 
				input(id="feedback__form_date" type="text" placeholder="22.05.2018 в 18:00" required)

			.feedback__form_order
				label(for="feedback__form_order") Номер заказ-наряда 
				input(id="feedback__form_order" type="text" placeholder="123")

			.feedback__form_proposal
				label(for="feedback__form_proposal") Текст отзыва <span class="asterix">*</span>
				textarea(id="feedback__form_proposal" placeholder="")

			.feedback__form_personal
				label(for="feedback__form_personal")
				div(class="input_checkbox checked")
					svg
						use(xlink:href="#check")
					input(type="checkbox" id="feedback__form_personal") 
				.feedback__form_personal_inscr Согласен на обработку персональных данных

		.feedback__buttons
			button(id="submit" form="feedback_form" ).feedback__buttons_send  ОТПРАВИТЬ 
				