.price(id="price")
	.price_container
		h3.price__header| ПРАЙС&nbsp;НА&nbsp;УCЛУГИ
		ul.price__list
			li.price__list_1
				.curtain
				.item_inner_container
					svg 
					a(href="#")| ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ
			li.price__list_2
				.curtain 
				.item_inner_container
					svg
					a(href="#")| СИСТЕМА ОХЛАЖДЕНИЯ
			li.price__list_3
				.curtain
				.item_inner_container
					svg  
					a(href="#")| ШИНОМОНТАЖНЫЕ РАБОТЫ
			li.price__list_4
				.curtain
				.item_inner_container
					svg 
					a(href="#")| ГЕОМЕТРИЯ&nbsp;ПОДВЕСКИ<br/>&nbsp;
			li.price__list_5
				.curtain
				.item_inner_container
					svg 
					a(href="#")| ПОДВЕСКА,&nbsp;РУЛЕВОЕ УПРАВЛЕНИЕ
			li.price__list_6
				.curtain
				.item_inner_container
					svg 
					a(href="#")| ТОРМОЗНАЯ&nbsp;СИСТЕМА<br/>&nbsp;
			li.price__list_7
				.curtain
				.item_inner_container
					svg 
					a(href="#")| АККУМУЛЯТОРЫ И СВЕЧИ
			li.price__list_8
				.curtain
				.item_inner_container
					svg 
					a(href="#")| ГЕНЕРАТОР,&nbsp;СТАРТЕР И&nbsp;РЕМНИ
			li.price__list_9 
				.curtain
				.item_inner_container
					svg 
					a(href="#")| ОПТИКА<br/>&nbsp; 
			li.price__list_10
				.curtain
				.item_inner_container
					svg 
					a(href="#")| СИСТЕМА КОНДИЦИОНИРОВАНИЯ
			li.price__list_11
				.curtain
				.item_inner_container
					svg  
					a(href="#")| ТРАНСМИССИЯ<br/>&nbsp;
			li.price__list_12
				.curtain
				.item_inner_container
					svg  
					a(href="#")| ДРУГОЕ<br/>&nbsp;

		.price__buttons
			a(href="#").price__buttons_enroll ЗАПИСАТЬСЯ