.price(id="price")
	.price_container
		h3.price__header| ПРАЙС&nbsp;НА&nbsp;УCЛУГИ
		ul.price__list
			li.price__list_tech_service
				.item_inner_container
					.price_icon
						svg
							use(xlink:href="#price-tech-service") 
					a(href="#")| ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ
			li.price__list_cooling_system
				.item_inner_container
					.price_icon
						svg
							use(xlink:href="#cooling-system")
					a(href="#")| СИСТЕМА ОХЛАЖДЕНИЯ
			li.price__list_tyres
				.item_inner_container
					.price_icon
						svg
							use(xlink:href="#price-tyres")  
					a(href="#")| ШИНОМОНТАЖНЫЕ РАБОТЫ
			li.price__list_geometry
				.item_inner_container
					.price_icon
						svg
							use(xlink:href="#price-geometry") 
					a(href="#")| ГЕОМЕТРИЯ&nbsp;ПОДВЕСКИ<br/>&nbsp;
			li.price__list_steering_wheel
				.item_inner_container
					.price_icon
						svg
							use(xlink:href="#steering-wheel") 
					a(href="#")| ПОДВЕСКА,&nbsp;РУЛЕВОЕ УПРАВЛЕНИЕ
			li.price__list_brakers
				.item_inner_container
					.price_icon
						svg
							use(xlink:href="#brakers") 
					a(href="#")| ТОРМОЗНАЯ&nbsp;СИСТЕМА<br/>&nbsp;
			li.price__list_battery
				.item_inner_container
					.price_icon
						svg
							use(xlink:href="#battery") 
					a(href="#")| АККУМУЛЯТОРЫ И СВЕЧИ
			li.price__list_starter
				.item_inner_container
					.price_icon
						svg
							use(xlink:href="#starter") 
					a(href="#")| ГЕНЕРАТОР,&nbsp;СТАРТЕР И&nbsp;РЕМНИ
			li.price__list_optics 
				.item_inner_container
					.price_icon
						svg
							use(xlink:href="#optics") 
					a(href="#")| ОПТИКА<br/>&nbsp; 
			li.price__list_conditioner
				.item_inner_container
					.price_icon
						svg
							use(xlink:href="#conditioner") 
					a(href="#")| СИСТЕМА КОНДИЦИОНИРОВАНИЯ
			li.price__list_gear
				.item_inner_container
					.price_icon
						svg
							use(xlink:href="#gear")  
					a(href="#")| ТРАНСМИССИЯ<br/>&nbsp;
			li.price__list_others
				.item_inner_container
					.price_icon
						svg
							use(xlink:href="#other")  
					a(href="#")| ДРУГОЕ<br/>&nbsp;

		.price__buttons
			a(href="#service__form").price__buttons_enroll ЗАПИСАТЬСЯ