div(id="why").why
	.why__container
		h3.why__header 
			| ПОЧЕМУ ВЫБИРАЮТ АВТОСЕРВИСЫ &#171;НАВИГАТОР&#187;
		.why__img_container
			.why__img_container_images
				.why__img_overlayer
					.why__img_arrow_left
						a(href="#").arrow_left
					//- .why__img_overlayer_main
						//- h3.why__img_header
						//- 	| ГАРАНТИЯ НА РАБОТЫ
						//- p.why__img_text
						//- 	| <b>30 дней</b> со дня оказания услуг<br/>Заменим деталь бесплатно!
					.why__img_arrow_right
						a(href="#").arrow_right
				img(src="./images/Navigator-STO-page-why.jpg" id="img_1" alt='ПОЧЕМУ ВЫБИРАЮТ АВТОСЕРВИСЫ "НАВИГАТОР"')
				img(src="./images/Navigator-STO-page-why.jpg" id="img_2" alt='ПОЧЕМУ ВЫБИРАЮТ АВТОСЕРВИСЫ "НАВИГАТОР"')
				img(src="./images/Navigator-STO-page-why.jpg" id="img_3" alt='ПОЧЕМУ ВЫБИРАЮТ АВТОСЕРВИСЫ "НАВИГАТОР"')
				img(src="./images/Navigator-STO-page-why.jpg" id="img_4" alt='ПОЧЕМУ ВЫБИРАЮТ АВТОСЕРВИСЫ "НАВИГАТОР"')
				img(src="./images/Navigator-STO-page-why.jpg" id="img_5" alt='ПОЧЕМУ ВЫБИРАЮТ АВТОСЕРВИСЫ "НАВИГАТОР"')
			.why__img_container_buttons 
				a(href="").active
				a(href="")
				a(href="")
				a(href="")
				a(href="")

		.why__buttons
			a(href="#service__form").why__buttons_enroll ЗАПИСАТЬСЯ
