@font-face {
	font-family: "Myriad Reg";
	src: url("../../fonts/MyriadPro-Regular.otf");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "Myriad Bold";
	src: url("../../fonts/MyriadPro-Bold.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Myriad BoldCond";
	src: url("../../fonts/MyriadPro-BoldCond.otf");
	font-weight: normal;
	font-style: normal;
}