$contWidth: 1023px;


$yellow: #fbca0b;
$white: #ffffff;
$grey: #263238;
$greyLight: #ffcc05;




@mixin flex($direct, $wrap, $justify, $align) {
	display: flex;
	flex-direction: $direct;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $align;

}