$contWidth: 1023px;


$yellow: #fbca0b;
$white: #ffffff;
$grey: #263238;
$greyLight: #ffcc05;
$greyForm: #808080;
$greyFormBorder: #e5e6e7;
$greyContacts: #4e5a60; 
$greyFooter: #4d4d4d;



@mixin flex($direct, $wrap, $justify, $align) {
	display: flex;
	flex-direction: $direct;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $align;

}


