.contacts {
	width: 100%;
	background: $grey;

}

.contacts__city_container {
	width: $contWidth;
	margin: 0 auto;
	@include flex(column, nowrap, flex-start, center);
	padding-bottom: 76px;

	h3.contacts__city_header {
		font-family: "Myriad Bold";
		font-size: 32px;
		line-height: 32px;
		color: $yellow;
		padding-top: 74px;
		margin-bottom: 43px;
		letter-spacing: 1px;
	}

	.contacts__city_items {
		@include flex(row, nowrap, center, flex-start);
		font-family: "Myriad Reg";
		color: $greyContacts;
		
		.contacts__city_icon {
			width: 38px;
			height: 56px;
			margin-bottom: 33px;
			position: relative;

			svg {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;

				fill: $greyContacts;

				
			}
		}


		.contacts__city_name {
			font-size: 24px;
			width: auto;
			line-height: 0.9;
			border-bottom: 1px dashed $greyContacts;
			margin-bottom: 13px;
		
		}


		.contacts__city_addr {
			font-size: 18px;
			margin-bottom: 6px;

		}


		.contacts__city_time {
			font-size: 18px;
			margin-bottom: 0;

		}

	.border {
		height: 166px;
		width: 1px;
		background-color: #3a464c;
		margin: 0 140px; //change the space between cities 
	}


	div {
		@include flex(column, nowrap, flex-start, center);
		width: 160px; //approximatly to the width of city name, because it needs a bottom border
		position: relative;

		&.active {
			.contacts__city_icon {
				
				svg {

					fill: $yellow;
				}

			}

			.contacts__city_name {
				color: $yellow;
				border-bottom: none;

			}

			.contacts__city_addr {
				color: $white;
			}

			.contacts__city_time {
				color: $white;
			}

			&:after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border: 20px solid transparent;
			border-bottom: none;
			border-top-color: $grey;
			z-index: 10;
			top: 242px;
			left: (160px - 20px*2)/2;
		}

		}


	}


	}
}


.contacts_map {
	width: 100%;
	height: 389px;

	img {
		width: 100%;
		height: 100%;
	}
}


footer.contacts__footer {
	width: 100%;
	background: #151515;
	@include flex(column, nowrap, flex-start, center);
	position: relative;
	
	
	.contacts__footer_menu_cont {
		width: $contWidth;
		margin: 0 auto;
		@include flex(row, nowrap, space-between, center);
		border-bottom: 1px solid $greyFooter;
		color: $greyFooter;
		font-size: 14px;
		line-height: 0.9;
		margin-bottom: 30px;
		height: 106px;
		


		.contacts__footer_menu_logo {
			// font-family: "Myriad Bold";
			// font-size: 26px;
			// line-height: 0.9;
			width: 144px;
			height: 26px;
			position: relative;
			top: -2px;
			
			svg {
				width: 100%;
				height: 100%;
				fill: $greyFooter;
			}
		}


		ul.contacts__footer_menu {
			width: 815px;
			@include flex(row, nowrap, space-between, flex-end);

			li {
				margin-right: 29px; //32px
				padding-top: 26px;
				height: 15px + 40px;
				@include flex(row, nowrap, flex-start, center);
				
				a, div {
					color: $greyFooter;
					font-size: 15px;
					display: block;
					height: 100%;
					
				}

				&:hover {
					color: $white;
					cursor: pointer;

					a {
						color: $white;
						position: relative;

						&:after {					
							content: "";
							position: absolute;
							width: 100%;
							height: 1px;
							bottom: -1px;
							left: 0;
							background: $white;
							z-index: 10;
						}
					}

				}

				&.info__menu_tol {
					margin-left: auto;
				}

				&:last-child {
					margin-right: 0;
				}

				
			}

			

		}

		
	}

	.contacts__footer_rights {
		width: $contWidth;
		margin: 0 auto;
		font-size: 14px;
		line-height: 1.5;
		color: $greyFooter; 
		padding-bottom: 40px;
	}

	.arrow_up {
		width: 48px;
		height: 48px;
		background: $yellow;
		border-top-left-radius: 8px;
		position: absolute;
		top: -48px;
		right: 0;
		@include flex(row, nowrap, center, center);

		a {
			width: 0;
			border: 12px solid transparent;
			border-top: none;
			border-bottom-color: $grey;
		}

	}

}
