.feedback__form {
	width: 100%;
	background: transparent;
	
}

.feedback__form_container {
	width: $contWidth;
	margin: 0 auto;
	@include flex(column, nowrap, flex-start, center);
	padding-bottom: 80px;
}


	h3.feedback__form_header {
		font-family: "Myriad Bold";
		font-size: 33px;
		line-height: 33px;
		color: $grey;
		padding-top: 71px;
		margin-bottom: 32px;
	}


form.feedback__form {
	width: 100%;
	@include flex(row, wrap, space-between, flex-start);
	padding: 0;
	margin-bottom: 27px;
	
	>div {
		@include flex(column, nowrap, flex-start, flex-start);
		margin-bottom: 26px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.feedback__form_order {
		margin-right: auto;
		margin-left: 32px;
	}


	input[type="text"] {
		width: 319px;
		height: 50px;
		border: 1px solid $greyFormBorder;
		border-radius: 10px;
		text-indent: 20px;


		
		&:focus, &:hover {
			outline: none;
			border: 1px solid $yellow;
			border-radius: 10px;
			
		}
	}

	
	label {
		font-size: 14px; //14px
		line-height: 14px;
		font-family: "Myriad Reg";
		color: $greyForm;
		margin-bottom: 18px;
	}

	

	.feedback__form_proposal {
		width: 100%;
		margin-bottom: 34px; //32px

		textarea {
			height: 100px;
			width: 100%;
			outline: none;
			border: 1px solid $greyFormBorder;
			border-radius: 10px;
			padding: 20px;
			text-indent: 20px;

			&:focus, &:hover {
				outline: none;
				border: 1px solid $yellow;
				border-radius: 10px;
			}
		}
	}


	.feedback__form_personal {
		@include flex(row, nowrap, flex-start, center); 
		
		

		input[type="checkbox"] {
			width: 100%;
			height: 100%;
			outline: none;
			opacity: 0;
		}

		.feedback__form_personal_inscr {
			margin-left: 20px;
			font-size: 16px; //14px
			line-height: 16px;
			font-family: "Myriad Reg";
			color: $grey;
			
		}
	}
	

}


.input_checkbox {
	width: 32px;
	height: 32px;
	border-radius: 8px;
	background: $yellow;
	position: relative;
	
	
	svg {
		position: absolute;
		background: transparent;
		width: 15px;
		height: 10px;
		top: (32px - 10px)/2;
		left: (32px - 15px)/2;
		z-index: 10;
		
		fill: #ffffff;
		opacity: 0;
		
	}


	&.checked {

		svg {
			opacity: 1;
		}
	}

	&:after {
		content: "";
		position: absolute;
		background: transparent;
		width: 15px;
		height: 10px;
		top: (32px - 10px)/2;
		left: (32px - 15px)/2;
		z-index: 10;

	}

}


.asterix {
	color: red;
}








