.price {
	width: 100%;
	background-color: #e5e6e7;
	height: 1102px;
}

.price_container {
	width: $contWidth;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 80px; //80px

}


.price__header {
	padding-top: 73px; //changed 80px
	margin-bottom: 41px; //48px
	font-size: 32px; //32px
	color: $grey;
	text-align: center;
	letter-spacing: 2px; //2px
}





.price__list {
	width: 100%;
	@include flex(row, wrap, space-between, flex-start);
	margin-bottom: 50px-32px; //48px

	li {
		width: 232px;
		height: 232px;
		border-radius: 10px;
		opacity: 0.89;
		position: relative;
		margin-bottom: 32px; //changed 32px
		overflow: hidden;
		@include flex(column, nowrap, center, center);

		&:hover  {
			cursor: pointer;
			
			&:after {
				background-color: $yellow;
			}

			a {
				color: $grey;
			}
			
			.price_icon svg {
				fill: $grey;
			}	
		}

	
		&:after, &:before {
			content: "";
			position: absolute;
			background-size: 100% auto;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}

		&:after {
			z-index: -1;
			background-color: black;
			opacity: 0.7;
		}

	
		&:before {
			z-index: -2;
		}
		
		&.price__list_tech_service:before {
			background: url("../../images/tech-service.jpg") 0 0 no-repeat;
		}

		&.price__list_cooling_system:before {
			background: url("../../images/cooling-system.jpg") 0 0 no-repeat;
		}

		&.price__list_tyres:before {
			background: url("../../images/tyres.jpg") 0 0 no-repeat;
		}

		&.price__list_geometry:before {
			background: url("../../images/geometry.jpg") 0 0 no-repeat;
		}

		&.price__list_steering_wheel:before {
			background: url("../../images/steering-wheel.jpg") 0 0 no-repeat;
		}

		&.price__list_brakers:before {
			background: url("../../images/brakers.jpg") 0 0 no-repeat;
		}

		&.price__list_battery:before {
			background: url("../../images/battery.jpg") 0 0 no-repeat;
		}

		&.price__list_starter:before {
			background: url("../../images/starter.jpg") 0 0 no-repeat;
		}

		&.price__list_optics:before {
			background: url("../../images/optics.jpg") 0 0 no-repeat;
		}

		&.price__list_conditioner:before {
			background: url("../../images/conditioner.jpg") 0 0 no-repeat;
		}

		&.price__list_gear:before {
			background: url("../../images/gear.jpg") 0 0 no-repeat;
		}

		&.price__list_others:before {
			background: url("../../images/other.jpg") 0 0 no-repeat;
		}

		
	}

	




	.item_inner_container {
		width: 52px;
		height: 115px;
		@include flex(column, nowrap, space-between, center);


		.price_icon {
			widows: 100%;
			height: 60px;
			background: transparent;

			svg {
				width: 100%;
				height: 100%;
				margin-bottom: 15px; //24px
				position: relative;

				fill: $yellow; //#fbca0b
				fill-rule: evenodd;
				
			}

		}

		a {
			text-align: center;
			font-size: 16px; //changed 16px
			color: $yellow;
			line-height: 1.4;
		}

		
	}


	



}


.price__buttons {
	@include flex(column, nowrap, flex-start, center);

	a.price__buttons_enroll {
		font-family: "Myriad Bold";
		display: block;
		padding: 16px 27px;
		font-size: 24px; //changed 24px;
		color: $grey;
		background-color: $yellow;
		border-radius: 8px;
		box-shadow: 0px 1px 2px 0px #f15a24;
		letter-spacing: 1px;
	}

}