.service {
	width: 100%;
	height: 752px;
	background: transparent;
	//padding-bottom: 80px;
}

.service__container {
	width: $contWidth;
	height: 100%;
	margin: 0 auto;
	@include flex(column, nowrap, flex-start, center);
}


.select_input {
	//overflow: hidden;
	position: relative;

	ul {
		position: absolute;
		left: -9999px;
		opacity: 0;
		z-index: 10;
	}
}


.service__header_area {
	@include flex(row, nowrap, flex-start, center);
	padding-top: 70px; //80px
	margin-bottom: 38px;//48px
	
	
	.service__header {
		font-family: "Myriad Bold";
		font-size: 31px;
		line-height: 31px;
		color: $grey;
	}

	input.service__form_city {
		background: transparent;
		border: none;
		color: $yellow;
		margin-left: 10px;
		width: 200px;
		 font-family: "Myriad Bold";
		padding: 0;
		font-size: 31px;
		line-height: 0px;

		.service__form_city_items {
			top: 50px;
			opacity: 0;
		}	
	}
}


form.service__form {
	width: 100%;
	@include flex(row, wrap, space-between, flex-start);
	margin-bottom: 22px; //48px

	
	


	>div {
		@include flex(column, nowrap, flex-start, flex-start);
		margin-bottom: 26px;
		
	}

	input[type="text"] {
		width: 319px;
		height: 50px;
		border: 1px solid $greyFormBorder;
		border-radius: 10px;
		text-indent: 20px;

		
		&:focus, &:hover {
			outline: none;
			border: 1px solid $yellow;
			border-radius: 10px;
			
		}
	}

	
	label {
		font-size: 14px; //14px
		line-height: 14px;
		font-family: "Myriad Reg";
		color: $greyForm;
		margin-bottom: 18px;
	}

	

	.service__form_proposal {
		width: 100%;
		margin-bottom: 34px; //32px

		textarea {
			height: 100px;
			width: 100%;
			outline: none;
			border: 1px solid $greyFormBorder;
			border-radius: 10px;
			padding: 20px;
			text-indent: 20px;

			&:focus, &:hover {
				outline: none;
				border: 1px solid $yellow;
				border-radius: 10px;
			}
		}
	}


	.service__form_type {
		
		input[type="text"]:focus ul.service__form_type_items {

				left: 0;
				opacity: 1;
			
		}

		ul.service__form_type_items {
	
			top: 50px;
			opacity: 1;

		}
	
	}

	.service__form_personal {
		@include flex(row, nowrap, flex-start, center); 
		
		input[type="checkbox"] {
			width: 32px;
			height: 32px;
			border: none;
			border-radius: 8px;
			background: $yellow;
		}

		.service__form_personal_inscr {
			margin-left: 20px;
			font-size: 16px; //14px
			line-height: 16px;
			font-family: "Myriad Reg";
			color: $grey;
		}
	}
	

}





.asterix {
	color: red;
}


.service__buttons {
	button.service__buttons_enroll {
		font-family: "Myriad Bold";
		display: block;
		height: 60px;
		padding: 15px 26px 23px 24px;
		font-size: 24px; //changed 24px;
		color: $grey;
		background-color: $yellow;
		border-radius: 8px;
		box-shadow: 0px 1px 2px 0px #f15a24;
		letter-spacing: 1px;
		margin: 0;
		border: none;
	}
}



.service__form_name input::-webkit-input-placeholder, .service__form_type input::-webkit-input-placeholder {
	font-style: normal;
	color: $grey;
}


.service__form_name input::-moz-placeholder, .service__form_type input::-moz-placeholder {
 	font-style: normal;
 	color: $grey;
 }


.service__form_name input::-ms-placeholder, .service__form_type input::-ms-placeholder {
 	font-style: normal;
 	color: $grey;
}


.service__form_name input::placeholder, .service__form_type input::placeholder {
	font-style: normal;
	color: $grey;
}



