.why {
	width: 100%;
	height: 765px;
	background-color: $grey;
}

.why__container {
	width: $contWidth;
	height: 100%;
	margin: 0 auto;
	@include flex(column, nowrap, flex-start, center);
	padding-bottom: 80px; //80px
}

.why__header {
	font-family: "Myriad Bold";
	font-size: 34px; //34px
	color: $yellow;
	padding-top: 71px;//80px
	margin-bottom: 38px; //48px

}

.why__img_container {
	width: 100%;
	height: 440px;
	background: transparent;
	@include flex(column, nowrap, space-between, center);
	margin-bottom: 32px; //32px

	.why__img_container_images {
		width: 100%;
		height: 400px;
		background: transparent;
		overflow:hidden;
		border-radius: 10px;
		position: relative;


		.why__img_overlayer {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 10;
			@include flex(row, nowrap, space-between, center);	
			
			.why__img_arrow_left {
				width: 77px;
				height: 334px;
				border-right: 1px solid #becada;
				@include flex(row, nowrap, center, center);

				.arrow_left{
					border: 12px solid transparent;
					border-right-color: $yellow;
					border-left: none;

					&:hover {
						border-right-color: $grey;
				}
				}

				
			}

			.why__img_arrow_right {
				width: 77px;
				height: 334px;
				border-left: 1px solid #becada;
				@include flex(row, nowrap, center, center);

				.arrow_right{
					border: 12px solid transparent;
					border-left-color: $yellow;
					border-right: none;

					&:hover {
						border-left-color: $grey;
					}
				}
			}


		}

	}

	.why__img_container_buttons {
		@include flex(row, nowrap, flex-start, center);

		a {
			display: block;
			background: transparent;
			height: 8px;
			width: 8px;
			border-radius: 50%;
			border: 1px solid #3a4f55;
			margin-right: 10px;
		}

		a.active {
			border: none;
			background-color: $yellow;
		}

		a:last-child {
			margin-right: 0;
		}

	}

}


.why__buttons {
	a.why__buttons_enroll {
		font-family: "Myriad Bold";
		display: block;
		height: 60px;
		padding: 15px 27px;
		font-size: 24px; //changed 24px;
		color: $grey;
		background-color: $yellow;
		border-radius: 8px;
		box-shadow: 0px 1px 2px 0px #f15a24;
		letter-spacing: 1px;
	}
}


a.down_button {
	width: 0;
	border: 12px solid transparent;
	border-bottom: none;
	border-top-color: $yellow;
	margin-top: auto;
}