html
	head
		link(href="./css/main.css" rel="stylesheet" type="text/css")
		link(href="./css/normalize.css" rel="stylesheet" type="text/css")

body
	.wrapper
		.container
			include ./includes/common_info
			include ./includes/price
			include ./includes/why
			include ./includes/service_form
			include ./includes/feedback
			include ./includes/feedback_form
			include ./includes/contacts
